{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge,chrome">
    <link rel="stylesheet" href="../static/style.css">
    <title>Please rate your services</title>
 </head>

<body>
    <div class="container">
        <img src="../static/logo.png" alt="hp" class="logo">
        {% if message %}
        <p class="message">{{ message | safe }}</p>
        {% endif %}
        <br>
        <br>
        <h2>Please fill in the following fields:</h2>
        <h6>All fields with (*) are mandatory for Feedback submission</h6>

        {% block content %}
        <div class="container">
            {% for msg in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="done" data-dismiss="alert">&times;</button>
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
        {% endblock content %}


    <form action="/submit" method="POST">
        {{ form.csrf_token }}
        <div class=form-group>
        <dt>Incident number (*): </dt>
        {{ form.customer }}
        </div>
        <div class=form-group>
        <dt>Customer Agent (*): </dt>
        {{ form.dealer }}
        </div>
        <dt>Please rate your Customer Services agent (*): </dt>
        <div class="form-group">
        {% for subfield in form.rating %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        </div>
        <div class=form-group>
        <dt>Please leave any comments about your experience: </dt>
        {{ form.comments }}
        </div>
        <div class=form-group>
        <dt>Tell us how we could improve our Service</dt>
        {{ form.suggestions }}
        </div>
        {{ form.submit(class="btn btn-primary") }}

    </div>
</body>
</html>